/* #top > nav > ul, a {
  background-image: linear-gradient(to left, pink, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#top > nav > ul > li {
  @apply
    mb-1
    text-3xl
    font-light
    px-10
    border-black
    pt-20
  ;
  transition: padding .5s ease-in-out, border .5s ease-in-out;
}

#top > nav > ul > li:hover {
  border-top-width: 150px;
  padding-top: 4px;
}
*/

#content {
  @apply w-full lg:px-10 pb-20
}

ul.topNav {
  @apply justify-evenly
}

ul.topNav>li {
  @apply mb-1 p-2 lg:w-[80%] hover:bg-fuchsia-400 hover:bg-opacity-25 hover:text-black
}

ul.topNav>li>a {
  @apply
  font-extralight
  block
  text-blue-600
  hover:text-black
}

button[type="submit"]:not(.link-button) {
  @apply 
    w-fit
    inline-block 
    px-6 
    py-2.5 
    bg-blue-600 
    text-white 
    text-sm
    font-bold
    leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out
}

button.link-button {
  @apply
    bg-opacity-0
    text-blue-600
    hover:text-blue-700
    focus:text-blue-700
    mx-10
    text-sm
    font-bold
    leading-tight
    uppercase
}

.button-group > button:not(.preview) {
  @apply
    w-7
    h-7
    mx-3
}

.fadeOut {
  @apply
    hidden
    opacity-0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.fadeIn {
  @apply
    visible
    opacity-100;
  transition: visibility 0s linear 0s, opacity 300ms;
}