@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg
  }
  h1, h2, h3, h4 {
    @apply font-bold
  }
  a {
    @apply font-bold text-blue-600 hover:text-blue-700 visited:text-purple-600
  }
  form {
    @apply flex flex-col w-full
  }
  input, textarea {
    @apply
      w-full
      block
      border border-solid border-gray-300
      rounded
      transition
      ease-in-out
      my-3
      text-lg
      p-3
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
  }
  form > textarea {
    min-height: 2rem;
    transition: min-height 0.7s linear;
  }
  form > textarea:focus {
    min-height: 40vh;
  }
}